<carousel>
    <slide>
        <img class="img-carousel-size" src="assets/images/ny.jpg" alt="New York">
        <div class="carousel-caption">
            <h3>New York</h3>
        </div>
    </slide>
    <slide>
        <img class="img-carousel-size" src="assets/images/chicago.jpg" alt="Chicago">
        <div class="carousel-caption">
            <h3>Chicago</h3>
        </div>
    </slide>
    <slide>
        <img class="img-carousel-size" src="assets/images/la.jpg" alt="Los Angeles">
        <div class="carousel-caption">
            <h3>Los Angeles</h3>
        </div>
    </slide>
</carousel>