<carousel>
    <slide>
        <img class="img-carousel-size" src="assets/images/ny.jpg" alt="New York">
        <div class="carousel-caption">
            <h2>Music is Life</h2>
            <h5>New York</h5>
        </div>
    </slide>
    <slide>
        <img class="img-carousel-size" src="assets/images/chicago.jpg" alt="Chicago">
        <div class="carousel-caption">
            <h2>Music is Life</h2>
            <h5>Chicago</h5>
        </div>
    </slide>
    <slide>
        <img class="img-carousel-size" src="assets/images/la.jpg" alt="Los Angeles">
        <div class="carousel-caption">
            <h2>Music is Life</h2>
            <h5>Los Angeles</h5>
        </div>
    </slide>
</carousel>